<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html
    PUBLIC '-//W3C//DTD XHTML 1.1 plus MathML 2.0 plus SVG 1.1//EN'
    'http://www.w3.org/2002/04/xhtml-math-svg/xhtml-math-svg.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en'>

<head>
    <meta name='viewport' content='width=device-width'/>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
    <link rel='stylesheet' type='text/css' href='/css/main.css'/>
    {% for css in page.css %}
    <link rel='stylesheet' type='text/css' href='{{ css }}'/>
    {% endfor %}
    <link rel='shortcut icon' type='image/png' href='/favicon.ico'/>
    <title>{{ page.title }}</title>
    {% for style in page.style %}
    <script src='{{ style }}'></script>
    {% endfor %}
    <script src='/script/analytics.js'></script>
</head>

<body>
  <div id="header">
    <div id="navigation">
  {% assign split_path = page.url | split: '/' %}
  {% assign split_path_last = split_path | last %}
  {% assign link_path = '/' %}
  {% for dir in split_path %}
    {% if dir != split_path_last %}
    {% if dir == '' %}
      <a class="header_link" href="{{link_path}}">tbhartman.org</a>
    {% else %}
      {% assign link_path = link_path | append: dir | append: '/' %}
      <span class="link_seperator">&gt;</span> <a class="header_link" href="{{link_path}}">{{dir}}</a>
    {% endif %}
    {% endif %}
  {% endfor %}
</div>
</div>
  <div id="content">
    {{ content }}
  </div>

</body>

</html>

